### This notebook classifies the samples based on their spectral peaks.

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from ast import literal_eval

A function for examining model metrics

In [2]:
def calculate_metrics(y_test, y_pred):

    # Calculate overall accuracy
    overall_accuracy = accuracy_score(y_test, y_pred)
    print(f"Overall Accuracy: {overall_accuracy}\n")

    # Calculate precision, recall, and F1-score for each class
    report = classification_report(y_test, y_pred)
    print("\nClassification Report:")
    print(report)

    # Show the confusion matrix
    conf_matrix = confusion_matrix(y_test, y_pred)
    print("\nConfusion Matrix:")
    print(conf_matrix)

Read in the dataset.

In [3]:
df = pd.read_csv("../../data/exosomes.raw_spectrum_1.csv")

In [4]:
df.head()

        SpecID  Seq  WaveNumber  Absorbance     SurID  Status
0  201210-1-00    0   200.00000   2709.3699  201210-1  Normal
1  201210-1-00    1   200.68336   2697.1318  201210-1  Normal
2  201210-1-00    2   201.36674   2696.0413  201210-1  Normal
3  201210-1-00    3   202.05011   2678.5925  201210-1  Normal
4  201210-1-00    4   202.73349   2670.8928  201210-1  Normal

##### PyCaret

In [5]:
import pandas as pd
from pycaret.classification import *

Set up the PyCaret environment

In [6]:
clf_setup = setup(data=df, target='Status', session_id=1234)

Compare models

In [7]:
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             14:21:03
Status     . . . . . . . . . . . . . . . . . .    Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, TT (Sec)]
Index: []

Processing:   0%|          | 0/65 [00:00<?, ?it/s]