### This notebook classifies the samples based on their spectral peaks.

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from ast import literal_eval

A function for examining model metrics

In [2]:
def calculate_metrics(y_test, y_pred):

    # Calculate overall accuracy
    overall_accuracy = accuracy_score(y_test, y_pred)
    print(f"Overall Accuracy: {overall_accuracy}\n")

    # Calculate precision, recall, and F1-score for each class
    report = classification_report(y_test, y_pred)
    print("\nClassification Report:")
    print(report)

    # Show the confusion matrix
    conf_matrix = confusion_matrix(y_test, y_pred)
    print("\nConfusion Matrix:")
    print(conf_matrix)

Read in the dataset.

In [3]:
df = pd.read_csv("../../data/exosomes.raw_spectrum_1.csv")

In [4]:
df = pd.read_csv("../../data/scaled_and_noise_removal.csv")

In [5]:
df.head()

   Unnamed: 0       SpecID  Seq  WaveNumber     SurID  Status  Absorbance
0           0  201210-1-00    0   200.00000  201210-1  Normal    1.000000
1           1  201210-1-00    1   200.68336  201210-1  Normal    0.998435
2           2  201210-1-00    2   201.36674  201210-1  Normal    0.996880
3           3  201210-1-00    3   202.05011  201210-1  Normal    0.995333
4           4  201210-1-00    4   202.73349  201210-1  Normal    0.993794

Pivot the Dataframe to create a column for each wavelength

In [6]:
pivoted_df = df.pivot(index='SpecID', columns='WaveNumber', values='Absorbance').reset_index()
pivoted_df.columns.name = None

Add the statuses back.

In [7]:
statuses = df[['SpecID', 'Status']].drop_duplicates()
pivoted_df = pd.merge(pivoted_df, statuses, on='SpecID')
pivoted_df = pivoted_df.set_index('SpecID')

In [8]:
pivoted_df.head()

,200.0,200.68336,201.36674,202.05011,202.73349,203.41685,204.10023,204.7836,205.46696,206.15034,...,1994.5331,1995.2164,1995.8998,1996.5831,1997.2665,1997.9498,1998.6333,1999.3167,2000.0,Status
SpecID,,,,,,,,,,,,,,,,,,,,,
201210-1-00,1.000000,0.998435,0.996880,0.995333,0.993794,0.992259,0.990735,0.989228,0.987741,0.986277,...,0.404450,0.404232,0.404023,0.403821,0.403623,0.403425,0.403231,0.403040,0.402852,Normal
201210-1-01,1.000000,0.997784,0.995571,0.993362,0.991156,0.988951,0.986752,0.984558,0.982372,0.980197,...,0.423986,0.424210,0.424442,0.424680,0.424923,0.425165,0.425411,0.425659,0.425911,Normal
201210-1-02,1.000000,0.997002,0.994016,0.991044,0.988084,0.985128,0.982189,0.979273,0.976385,0.973533,...,0.568881,0.570079,0.571272,0.572461,0.573646,0.574831,0.576013,0.577192,0.578369,Normal
201210-1-03,0.741209,0.758076,0.774771,0.791293,0.807643,0.823983,0.840069,0.855790,0.871042,0.885727,...,0.195789,0.195683,0.195578,0.195474,0.195370,0.195266,0.195161,0.195057,0.194953,Normal
201210-1-04,1.000000,0.998114,0.996231,0.994350,0.992470,0.990592,0.988716,0.986844,0.984978,0.983121,...,0.496956,0.496816,0.496688,0.496571,0.496460,0.496351,0.496247,0.496147,0.496054,Normal

##### PyCaret

In [9]:
import pandas as pd
from pycaret.classification import *

Set up the PyCaret environment

In [10]:
caret = setup(data=pivoted_df, target='Status', session_id=1234)

Compare models

In [11]:
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .                   15:19:45
Status     . . . . . . . . . . . . . . . . . .           Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

Create the model

In [ ]:
model = create_model('rf')

In [ ]:
tuned_model = tune_model(model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [ ]:
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…