## **This Notebook will construct the nodes and edges that we will build our graph with**

Import relevant libraries and import raw data

In [109]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv("../../data/current_clean_spectrum.csv")

In [111]:
#sns.lineplot(data=df, x='WaveNumber', y='Absorbance', hue='Status', errorbar=('ci', False))

In [112]:
df

              SpecID   Seq  WaveNumber     SurID         Status  Absorbance
0        201210-1-00   293   400.22778  201210-1         Normal   41.863303
1        201210-1-00   294   400.91116  201210-1         Normal   41.803843
2        201210-1-00   295   401.59454  201210-1         Normal   41.741884
3        201210-1-00   296   402.27789  201210-1         Normal   41.677722
4        201210-1-00   297   402.96127  201210-1         Normal   41.611654
...              ...   ...         ...       ...            ...         ...
6239200  210526-3-09  2337  1797.03870  210526-3  Hyperglycemia   12.378163
6239201  210526-3-09  2338  1797.72200  210526-3  Hyperglycemia   13.269937
6239202  210526-3-09  2339  1798.40550  210526-3  Hyperglycemia   14.199285
6239203  210526-3-09  2340  1799.08890  210526-3  Hyperglycemia   15.166531
6239204  210526-3-09  2341  1799.77220  210526-3  Hyperglycemia   16.171997

[6239205 rows x 6 columns]

Set each WaveNumber as a column

In [113]:
pivoted_df = df.pivot(index='SpecID', columns='WaveNumber', values='Absorbance').reset_index()
pivoted_df.columns.name = None

statuses = df[['SpecID', 'Status']].drop_duplicates()

pivoted_df = pd.merge(pivoted_df, statuses, on='SpecID')
pivoted_df = pivoted_df.set_index('SpecID')

pivoted_df.head()

,400.22778,400.91116,401.59454,402.27789,402.96127,403.64465,404.32803,405.01138,405.69476,406.37814,...,1794.3053,1794.9886,1795.672,1796.3553,1797.0387,1797.722,1798.4055,1799.0889,1799.7722,Status
SpecID,,,,,,,,,,,,,,,,,,,,,
201210-1-00,41.863303,41.803843,41.741884,41.677722,41.611654,41.543974,41.474980,41.404968,41.334234,41.263073,...,6.942749,6.280946,5.549559,4.745724,3.866578,2.909255,1.870891,0.748623,-0.460415,Normal
201210-1-01,46.314608,47.323684,48.299209,49.241395,50.150457,51.026608,51.870063,52.681035,53.459738,54.206386,...,6.322524,6.769011,7.280928,7.861246,8.512936,9.238972,10.042323,10.925962,11.892860,Normal
201210-1-02,118.159018,114.686240,111.563911,108.777452,106.312282,104.153823,102.287493,100.698715,99.372907,98.295491,...,-4.668874,-4.633601,-4.557349,-4.439365,-4.278894,-4.075180,-3.827470,-3.535010,-3.197043,Normal
201210-1-03,175.466997,174.846086,174.188020,173.498226,172.782129,172.045155,171.292728,170.530275,169.763222,168.996993,...,-11.220152,-10.801936,-10.349539,-9.864191,-9.347124,-8.799567,-8.222752,-7.617909,-6.986269,Normal
201210-1-04,111.814973,106.629998,101.867380,97.512673,93.551430,89.969205,86.751551,83.884023,81.352173,79.141556,...,-11.600625,-11.689508,-11.752441,-11.789205,-11.799583,-11.783357,-11.740310,-11.670224,-11.572882,Normal

In [114]:
status_df = df.groupby('SpecID')[['SurID', 'Status']].first()
# surface_and_status.to_csv("../../data/surface_and_status.csv")
status_df

                SurID         Status
SpecID
201210-1-00  201210-1         Normal
201210-1-01  201210-1         Normal
201210-1-02  201210-1         Normal
201210-1-03  201210-1         Normal
201210-1-04  201210-1         Normal
...               ...            ...
210526-3-45  210526-3  Hyperglycemia
210526-3-46  210526-3  Hyperglycemia
210526-3-47  210526-3  Hyperglycemia
210526-3-48  210526-3  Hyperglycemia
210526-3-49  210526-3  Hyperglycemia

[3045 rows x 2 columns]

>#### **Calculate an adjacency matrix using a Gaussian Kernel**

In [115]:
from scipy.spatial.distance import pdist, squareform

# Drop the 'Status' column as it is not numeric
X = pivoted_df.drop(columns=['Status'])

# Calculate pairwise Euclidean distances
distances = pdist(X.values, metric='euclidean')

# Convert the condensed distances to a square matrix form
distance_matrix = squareform(distances)

In [116]:
def gaussian_kernel(distances, sigma):
    return np.exp(-distances**2 / (2 * sigma**2))

# Sigma is the bandwidth parameter
sigma = 10000 # Adjust sigma as needed
kernel_matrix = gaussian_kernel(distance_matrix, sigma)

# Convert the kernel matrix to a DataFrame
kernel_df = pd.DataFrame(kernel_matrix, index=pivoted_df.index, columns=pivoted_df.index)

In [117]:
display(kernel_df.head())
kernel_df.shape

SpecID,201210-1-00,201210-1-01,201210-1-02,201210-1-03,201210-1-04,201210-1-05,201210-1-06,201210-1-07,201210-1-09,201210-1-10,...,210526-3-40,210526-3-41,210526-3-42,210526-3-43,210526-3-44,210526-3-45,210526-3-46,210526-3-47,210526-3-48,210526-3-49
SpecID,,,,,,,,,,,,,,,,,,,,,
201210-1-00,1.000000,0.993526,0.764013,0.518924,0.972594,0.951718,0.951441,0.971617,0.978153,0.986414,...,0.989951,0.989768,0.988148,0.989569,0.990026,0.989469,0.989218,0.988716,0.989283,0.988900
201210-1-01,0.993526,1.000000,0.791591,0.543897,0.981365,0.964333,0.961114,0.974912,0.979407,0.983433,...,0.980965,0.981279,0.978912,0.979351,0.979208,0.978163,0.977852,0.976668,0.977519,0.977039
201210-1-02,0.764013,0.791591,1.000000,0.684861,0.764208,0.759665,0.747066,0.756470,0.762969,0.753764,...,0.725119,0.726652,0.723779,0.722778,0.722170,0.719950,0.720655,0.723397,0.720424,0.719044
201210-1-03,0.518924,0.543897,0.684861,1.000000,0.532019,0.536400,0.538046,0.536808,0.539221,0.521007,...,0.492771,0.496057,0.489945,0.487107,0.485342,0.482187,0.481669,0.483077,0.482531,0.481158
201210-1-04,0.972594,0.981365,0.764208,0.532019,1.000000,0.990952,0.972272,0.974603,0.973955,0.975680,...,0.964019,0.964388,0.961208,0.961054,0.959394,0.958088,0.958038,0.955346,0.956402,0.957128

(3045, 3045)

**Construct the node and edge import files with the required Admin Import Headers**

In [118]:
relationship_df = kernel_df.reset_index()
relationship_df = relationship_df.melt(id_vars='SpecID', var_name=':END_ID', value_name='Weight:float')
relationship_df = relationship_df.rename(columns={'SpecID': ':START_ID'})
relationship_df[':TYPE'] = 'LINK'

Drop Relationships a node has with itself, along with repeat relationships.

In [119]:
relationship_df = relationship_df[relationship_df[":START_ID"] != relationship_df[":END_ID"]]
relationship_df = relationship_df[relationship_df[":START_ID"] < relationship_df[":END_ID"]]  # Drops redundant relationships
relationship_df

           :START_ID      :END_ID  Weight:float :TYPE
3045     201210-1-00  201210-1-01      0.993526  LINK
6090     201210-1-00  201210-1-02      0.764013  LINK
6091     201210-1-01  201210-1-02      0.791591  LINK
9135     201210-1-00  201210-1-03      0.518924  LINK
9136     201210-1-01  201210-1-03      0.543897  LINK
...              ...          ...           ...   ...
9272019  210526-3-44  210526-3-49      0.999392  LINK
9272020  210526-3-45  210526-3-49      0.999382  LINK
9272021  210526-3-46  210526-3-49      0.999551  LINK
9272022  210526-3-47  210526-3-49      0.999311  LINK
9272023  210526-3-48  210526-3-49      0.999532  LINK

[4634490 rows x 4 columns]

In [120]:
node_df = status_df.drop(columns=['SurID']).reset_index()
node_df.rename(columns={'SpecID':'SpecID:ID', 'Status':'Status:LABEL'}, inplace=True)
node_df

        SpecID:ID   Status:LABEL
0     201210-1-00         Normal
1     201210-1-01         Normal
2     201210-1-02         Normal
3     201210-1-03         Normal
4     201210-1-04         Normal
...           ...            ...
3040  210526-3-45  Hyperglycemia
3041  210526-3-46  Hyperglycemia
3042  210526-3-47  Hyperglycemia
3043  210526-3-48  Hyperglycemia
3044  210526-3-49  Hyperglycemia

[3045 rows x 2 columns]

**Set an Environmental Variable as your working Neo4J directory for this to work.**

In [121]:
import os

Neo4j_Directory = os.environ['NEO4J_Directory']
print(Neo4j_Directory)

/home/eddie/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-e4c1e17b-4cb7-4b84-a9fb-3fde3105cb8a

Save the nodes and relationships files in the import folder.

In [122]:
node_df.to_csv(Neo4j_Directory + '/import/nodes.csv')
relationship_df.to_csv(Neo4j_Directory + '/import/relationships.csv')

In [123]:
relationship_df

           :START_ID      :END_ID  Weight:float :TYPE
3045     201210-1-00  201210-1-01      0.993526  LINK
6090     201210-1-00  201210-1-02      0.764013  LINK
6091     201210-1-01  201210-1-02      0.791591  LINK
9135     201210-1-00  201210-1-03      0.518924  LINK
9136     201210-1-01  201210-1-03      0.543897  LINK
...              ...          ...           ...   ...
9272019  210526-3-44  210526-3-49      0.999392  LINK
9272020  210526-3-45  210526-3-49      0.999382  LINK
9272021  210526-3-46  210526-3-49      0.999551  LINK
9272022  210526-3-47  210526-3-49      0.999311  LINK
9272023  210526-3-48  210526-3-49      0.999532  LINK

[4634490 rows x 4 columns]

-----

#### **This Section Creates the Graph in Neo4J then runs the Queries.**

In [124]:
from neo4j import GraphDatabase
import subprocess

Run the admin import command to create the graph.

In [125]:
# Construct the command Linux
command = [
    './bin/neo4j-admin', 'database', 'import', 'full',
    '--nodes=import/nodes.csv',
    '--relationships=import/relationships.csv',
    '--overwrite-destination',  'neo4j'
]

#Windows
#command = 'neo4j-admin database import full --nodes=import/nodes.csv --relationships=import/relationships.csv --overwrite-destination neo4j'

#result = subprocess.run(command, shell=True, cwd=working_dir, capture_output=True, text=True)
result = subprocess.run(command, cwd=Neo4j_Directory, stdout=subprocess.PIPE, stderr=subprocess.PIPE)

# Check if the command was successful
if result.returncode == 0:
    print("Import successful")
    print(result.stdout)
else:
    print("Error during import:")
    print(result.stderr)

Import successful
b"Neo4j version: 5.12.0\nImporting the contents of these files into /home/eddie/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-e4c1e17b-4cb7-4b84-a9fb-3fde3105cb8a/data/databases/neo4j:\nNodes:\n  /home/eddie/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-e4c1e17b-4cb7-4b84-a9fb-3fde3105cb8a/import/nodes.csv\n\nRelationships:\n  /home/eddie/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-e4c1e17b-4cb7-4b84-a9fb-3fde3105cb8a/import/relationships.csv\n\n\nAvailable resources:\n  Total machine memory: 13.49GiB\n  Free machine memory: 291.8MiB\n  Max heap memory : 910.5MiB\n  Max worker threads: 12\n  Configured max memory: 141.8MiB\n  High parallel IO: true\n\nCypher type normalization is enabled (disable with --normalize-types=false):\n  Property type of 'Weight' normalized from 'float' --> 'double' in /home/eddie/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-e4c1e17b-4cb7-4b84-a9fb-3fde3105cb8a/import/relationships.csv\n\nImport starting 2024-03-21 14:51:26.778+0000\n  Estimated number of nodes: 3.05 k\n  Estimated number of node properties: 3.05 k\n  Estimated number of relationships: 4.68 M\n  Estimated number of relationship properties: 4.68 M\n  Estimated disk space usage: 343.7MiB\n  Estimated required memory usage: 510.0MiB\n\n(1/4) Node import 2024-03-21 14:51:26.965+0000\n  Estimated number of nodes: 3.05 k\n  Estimated disk space usage: 4.683MiB\n  Estimated required memory usage: 510.0MiB\n-......... .......... .......... .......... ..........   5% \xe2\x88\x8646ms\n.......... .......... .......... .......... ..........  10% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  15% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  20% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  25% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  30% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  35% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  40% \xe2\x88\x8610ms\n.......... .......... .......... .......... ..........  45% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  50% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  55% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  60% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  65% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  70% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  75% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  80% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  85% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  90% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  95% \xe2\x88\x861ms\n.......... .......... .......... .......... .......... 100% \xe2\x88\x860ms\n\nNode import COMPLETED in 424ms\n\n(2/4) Relationship import 2024-03-21 14:51:27.408+0000\n  Estimated number of relationships: 4.68 M\n  Estimated disk space usage: 339.0MiB\n  Estimated required memory usage: 517.6MiB\n.......... .......... .......... .......... ..........   5% \xe2\x88\x863s 75ms\n.......... .......... .......... .......... ..........  10% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  15% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  20% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  25% \xe2\x88\x86206ms\n.......... .......... .......... .......... ..........  30% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  35% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  40% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  45% \xe2\x88\x86616ms\n.......... .......... .......... .......... ..........  50% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  55% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  60% \xe2\x88\x86206ms\n.......... .......... .......... .......... ..........  65% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  70% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  75% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  80% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  85% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  90% \xe2\x88\x86218ms\n.......... .......... .......... .......... ..........  95% \xe2\x88\x860ms\n.......... .......... .......... .......... .......... 100% \xe2\x88\x860ms\n\nRelationship import COMPLETED in 5s 326ms\n\n(3/4) Relationship linking 2024-03-21 14:51:32.735+0000\n  Estimated required memory usage: 510.0MiB\n.......... .......... .......... .......... ..........   5% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  10% \xe2\x88\x860ms\n.......... .......... .......... ....-..... ..........  15% \xe2\x88\x86200ms\n.......... .......... .......... .......... ..........  20% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  25% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  30% \xe2\x88\x860ms\n-......... .......... .......... .......... ..........  35% \xe2\x88\x86729ms\n.......... .......... .......... .......... ..........  40% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  45% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  50% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  55% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  60% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  65% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  70% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  75% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  80% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  85% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  90% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  95% \xe2\x88\x860ms\n.......... .......... .......... .......... .......... 100% \xe2\x88\x860ms\n\nRelationship linking COMPLETED in 1s 408ms\n\n(4/4) Post processing 2024-03-21 14:51:34.143+0000\n  Estimated required memory usage: 510.0MiB\n-......... .......... .......... .......... ..........   5% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  10% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  15% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  20% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  25% \xe2\x88\x86200ms\n.......... .......... .......... .......... ..........  30% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  35% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  40% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  45% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  50% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  55% \xe2\x88\x86201ms\n.......... .......... .......... .......... ..........  60% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  65% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  70% \xe2\x88\x861ms\n.......... .......... .......... .......... ..........  75% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  80% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  85% \xe2\x88\x86111ms\n.......... .......... .......... .......... ..........  90% \xe2\x88\x860ms\n.......... .......... .......... .......... ..........  95% \xe2\x88\x860ms\n.......... .......... .......... .......... .......... 100% \xe2\x88\x860ms\n\nPost processing COMPLETED in 1s 533ms\n\n\nIMPORT DONE in 9s 177ms. \nImported:\n  3045 nodes\n  4634490 relationships\n  4637535 properties\nPeak memory usage: 547.2MiB\n"

Run and connect to the Neo4j Database

In [126]:
uri = "neo4j://localhost:7687"
username = "neo4j"              # Neo4J username
password = os.environ['NEO4J_Password']           # Neo4J password'

# Create a driver instance
driver = GraphDatabase.driver(uri, auth=(username, password))

# Ensure you close the driver connection when your program ends
def close_driver():
    driver.close()

**First create the gds Graph Projection**

In [127]:
def project_graph(tx):
    query = """
    CALL gds.graph.project(
      'myGraph', 
      ['Normal', 'Hyperglycemia', 'Hypoglycemia'],
      {
        LINK: {
          orientation: 'UNDIRECTED',
          properties: 'Weight'
        }
      }
    )
    """
    tx.run(query)

# Use a session to execute the graph projection
with driver.session() as session:
    session.execute_write(project_graph)

##### **Define the graph algorithms.**

In [128]:
def run_pagerank_centrality(tx):
    query = """
    CALL gds.pageRank.stream('myGraph', {
        relationshipWeightProperty: 'Weight'
    })
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).SpecID AS name, score
    ORDER BY score DESC, name ASC
    """
    results = tx.run(query)
    return [(record["name"], record["score"]) for record in results]

In [129]:
def run_degree_centrality(tx):
    query = """
    CALL gds.degree.stream('myGraph', {
        relationshipWeightProperty: 'Weight'
    })
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).SpecID AS name, score
    ORDER BY score DESC, name ASC
    """
    results = tx.run(query)
    return [(record["name"], record["score"]) for record in results]

In [130]:
def run_eigenvector_centrality(tx):
    query = """
    CALL gds.eigenvector.stream('myGraph', {
        relationshipWeightProperty: 'Weight'
    })
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).SpecID AS name, score
    ORDER BY score DESC, name ASC
    """
    results = tx.run(query)
    return [(record["name"], record["score"]) for record in results]

In [131]:
def run_articlerank_centrality(tx):
    query = """
    CALL gds.articleRank.stream('myGraph', {
        relationshipWeightProperty: 'Weight'
    })
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).SpecID AS name, score
    ORDER BY score DESC, name ASC
    """
    results = tx.run(query)
    return [(record["name"], record["score"]) for record in results]

In [132]:
def run_label_propagation_algorithm(tx):
    query = """
    CALL gds.labelPropagation.stream('myGraph', { relationshipWeightProperty: 'Weight' })
    YIELD nodeId, communityId AS Community
    RETURN gds.util.asNode(nodeId).SpecID AS name, Community
    ORDER BY Community, name
    """
    results = tx.run(query)
    return [(record["name"], record["Community"]) for record in results]

In [133]:
def run_leiden_algorithm(tx):
    query = """
    CALL gds.leiden.stream('myGraph', { relationshipWeightProperty: 'Weight' })
    YIELD nodeId, communityId AS Community
    RETURN gds.util.asNode(nodeId).SpecID AS name, Community
    ORDER BY Community, name
    """
    results = tx.run(query)
    return [(record["name"], record["Community"]) for record in results]

In [134]:
def run_louvain_algorithm(tx):
    query = """
    CALL gds.louvain.stream('myGraph', { relationshipWeightProperty: 'Weight' })
    YIELD nodeId, communityId AS Community
    RETURN gds.util.asNode(nodeId).SpecID AS name, Community
    ORDER BY Community, name
    """
    results = tx.run(query)
    return [(record["name"], record["Community"]) for record in results]

In [135]:
def run_node2vec_algorithm(tx):
    query = """
    CALL gds.node2vec.stream('myGraph', { relationshipWeightProperty: 'Weight' })
    YIELD nodeId, embedding
    RETURN gds.util.asNode(nodeId).SpecID AS name, embedding
    """
    results = tx.run(query)
    return [(record["name"], record["embedding"]) for record in results]

In [136]:
def run_fastRP_algorithm(tx):
    query = """
    CALL gds.fastRP.stream('myGraph',
        { relationshipWeightProperty: 'Weight',
         randomSeed:1234,
         embeddingDimension: 1024
        }
    )
    YIELD nodeId, embedding
    RETURN gds.util.asNode(nodeId).SpecID AS name, embedding
    """
    results = tx.run(query)
    return [(record["name"], record["embedding"]) for record in results]

Execute the algorithms and store the results in a Dataframe.

In [137]:
# Use a session to execute the queries and retrieve the results
with driver.session() as session:
    pagerank_results = session.execute_read(run_pagerank_centrality)
    degree_results = session.execute_read(run_degree_centrality)
    eigenvector_results = session.execute_read(run_eigenvector_centrality)
    articlerank_results = session.execute_read(run_articlerank_centrality)
    label_propagation_results = session.execute_read(run_label_propagation_algorithm)
    leiden_results = session.execute_read(run_leiden_algorithm)
    louvain_results = session.execute_read(run_louvain_algorithm)

In [138]:
pagerank_df = pd.DataFrame(pagerank_results, columns=['name', 'PageRank'])
degree_df = pd.DataFrame(degree_results, columns=['name', 'DegreeCentrality'])
eigenvector_df = pd.DataFrame(eigenvector_results, columns=['name', 'EigenvectorCentrality'])
articlerank_df = pd.DataFrame(articlerank_results, columns=['name', 'ArticleRank'])
label_propagation_df = pd.DataFrame(label_propagation_results, columns=['name', 'LabelPropagation'])
leiden_df = pd.DataFrame(leiden_results, columns=['name', 'Leiden'])
louvain_df = pd.DataFrame(louvain_results, columns=['name', 'Louvain'])

In [139]:
merged_df = pagerank_df
for df in [degree_df, eigenvector_df, articlerank_df, leiden_df, louvain_df]:
    merged_df = pd.merge(merged_df, df, on=['name'], how='left')

In [140]:
graph_metrics_df = merged_df.rename(columns={'name' : 'SpecID'})
graph_metrics_df

,SpecID,PageRank,DegreeCentrality,EigenvectorCentrality,ArticleRank,Leiden,Louvain
0,210211-2-23,4.002199,3.973113e-06,1.017282e-01,0.15,32,473
1,210211-2-24,3.652726,3.745660e-06,9.593707e-02,0.15,32,473
2,210211-2-16,2.642024,4.136157e-08,4.594650e-02,0.15,32,465
3,210211-2-01,2.456221,1.299764e-34,4.859904e-02,0.15,46,454
4,210211-2-15,2.421481,3.669051e-08,4.137729e-02,0.15,32,465
...,...,...,...,...,...,...,...
3040,210211-1-31,0.150000,5.593415e-29,6.950847e-20,0.15,33,408
3041,210211-2-00,0.150000,2.651800e-115,6.950632e-20,0.15,46,454
3042,210211-2-06,0.150000,3.481732e-31,7.017270e-20,0.15,32,472
3043,210211-2-09,0.150000,2.677274e-33,7.018674e-20,0.15,32,471
3044,210304-2-02,0.150000,1.349595e-23,6.964171e-20,0.15,1,2519

##### **Get Node Embeddings using FastRP**

In [141]:
with driver.session() as session:
    fastRP_results = session.execute_read(run_fastRP_algorithm)

fastRP_df = pd.DataFrame(fastRP_results, columns=['SpecID', 'embeddings'])

# Expand the embeddings list into separate columns
embeddings_df = pd.DataFrame(fastRP_df['embeddings'].tolist(), index=fastRP_df.index)

# Optionally, rename the new columns
embeddings_df.columns = [f'embedding_{i}' for i in range(embeddings_df.shape[1])]

# Join the new embeddings columns to the original DataFrame
fastRP_df = pd.concat([fastRP_df.drop(['embeddings'], axis=1), embeddings_df], axis=1)
fastRP_df.to_csv('../../data/fastRP_embeddings.csv', index=False)
fastRP_df.head()

        SpecID  embedding_0  embedding_1
0  201210-1-00    -1.975941    -0.308919
1  201210-1-01    -1.975166    -0.313993
2  201210-1-02    -1.974005    -0.321348
3  201210-1-03    -1.968665    -0.352319
4  201210-1-04    -1.974080    -0.320883

**Delete the projection and close the session**

In [ ]:
def delete_projection(tx):
    query = """
    CALL gds.graph.drop('myGraph')
    """
    tx.run(query)

# Use a session to execute the graph projection
with driver.session() as session:
    session.execute_write(delete_projection)
    
close_driver()